@media (max-width: 1000px) {
    #first-banner {
        display: none;
    }

    .hero_search_box {
        display: none;
    }

    .hero-txt {
        width: 100%;
    }

    .sticky-nav {
        top: 0px;
    }
}

@media (max-width: 770px) {
    #toggler {
        display: block;
    }

    .nav_links {
        display: none;
    }

    .bike-name, .bike-price {
        font-size: 18px;
}

@media (max-width: 1230px) {
    .card-location {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .red-box {
        display: none;
    }
}

@media (max-width: 426px) {
    .features-block {
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .features-block {
        font-size: 10px;
    }
}
