* {
    margin: 0;
    padding: 0;
    height: auto;
}

/* Bootstrap customizations */

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

/* Bootstrap customizations */

/* Owl carosuel customization */



/* Owl carosuel customization */

.img-thumbnail {
    border: none !important;
}

/* Header section */

.index {
    /* background-image: url(../img/bike-1.jpg); */
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    animation: animate 26s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        background-image: url(../img/bike-2.jpg);
    }

    25% {
        background-image: url(../img/bike-3.jpg);
    }

    50% {
        background-image: url(../img/bike-1.jpg);
    }

    75% {
        background-image: url(../img/bike-2.jpg);
    }
}

.notIndex {
    background-image: linear-gradient(rgba(0, 0, 0, 0.353), rgba(0, 0, 0, 0.353)), url(../img/bike-3.jpg);
    /* background-image: url(../img/bike-3.jpg); */
    min-height: 55vh;
    width: 100%;
    background-size: cover;
    background-position: center;

}

/* ====== Fisrt banner part ======= */

.first-banner {
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: 600;
}

#first-banner {
    display: block;
}

hr {
    margin: 0;
    border-bottom: 2px solid black;
}
.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-group {
    display: flex;
    flex-direction: row;
}

.btn-group {
    display: flex;
    flex-direction: row;
}

.contact-items {
    margin-right: 15px;
}

.btn {
    margin: 0 !important;
    padding: 0 !important;
}

.custom-button {
    width: 100px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: 1px solid rgb(172, 172, 172);
    margin-left: 15px;
    border-radius: 4px;
}

/* ====== Fisrt banner part end ======= */

/* ====== Navbar part start ======= */

.nav_logo {
    height: 70px;
    width: auto;
    cursor: pointer;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
}

.nav_links a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.nav_links.black a {
    color: black;
}

.nav-items:last-child {
    margin-right: 0;
}

.sticky-nav a:hover {
    color: red;
}

.sticky-nav {
    position: fixed;
    top: 57px;
    transition: 0.3s;
    z-index: 1000;
}

.sticky-nav-bottom {
    top: 57px;
}

#toggler {
    display: none;
    font-size: 23px;
}

/* ====== Navbar part end ======= */

/* Header section */

/* Main body section */

.hero-txt, .hero-search-box {
    height: 400px;
}

.hero-txt-section-header {
    height: 50px;
}

.hero-section {
    margin-top: 200px;
}

.custom_btn {
    width: 200px;
    height: 50px;
    background-color: red;
    color: #fff;
    border: none;
    margin-top: 210px;
}

.custom_btn:hover {
    color: #fff;
    background-color: rgb(223, 0, 0);
}

.hero_search_box {
    padding: 20px 30px 20px 30px;
    background: #fff;
    /* background: rgba(255, 255, 255, 0.8); */
    height: 500px;
    width: 400px;
    border-radius: 10px;
}

.text-field {
    border: 1px solid rgba(99, 99, 99, 0.3);
    color: rgb(125, 125, 125);
    width: 340px;
    height: 40px;
}

.text-field ::placeholder {
    color: rgb(110, 110, 110);;
}

.text-field:focus {
    outline: none;
    border: none;
    border: 1px solid rgb(99, 99, 99);
}

.hero_search_box select, option {
    width: 340px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgba(99, 99, 99, 0.3);
    border-radius: 4px;
}

.price-class {
    height: 40px;
    width: 160px;
    border: 3px solid red;
    border-radius: 4px;
    padding-left: 5px;
    margin-bottom: 20px;
}

.price-class ::placeholder {
    color: rgb(152, 152, 152);
}

.price-class:focus {
    border: 3px solid red;
    outline: none;
}

.hero_search_box-search-btn {
    width: 340px;
    height: 40px;
    background: red;
    border-radius: 4px;
    border: none;
    color: #fff;
    transition: 0.2s;
}

.hero_search_box-search-btn:hover {
    background: rgb(214, 0, 0);
}

/* =====Side menu==== */

.sidemenu {
    font-family: 'Roboto', sans-serif;
    width: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    transition: 0.5s;
    background: #fff;
    /* display: block; */
    top: 0;
    z-index: 2000;
}

.inner-main {
    margin-top: 100px;
}

.inner-main a {
    display: inline-block;
    width: 100%;
    font-size: 22px;
    padding-left: 30px;
    text-decoration: none;
    color: red;
    padding-bottom: 10px;
    padding-top: 10px;
    /* font-weight: bold; */
    border-radius: 5px;
}

.inner-main button {
    width: 190px;
    height: 42px;
    margin-top: 10px;
    background: red;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

.inner-main button:last-child {
    margin-top: 0;
}

.inner-main button:active {
    background: rgb(197, 0, 0);
}

#back-arrow {
    position: absolute;
    left: 30px;
    top: 40px;
    color: rgb(179, 0, 0);
    font-size: 25px;
}

#back-btn {
    background: none;
    border: none;
}
/* =====Side menu==== */

/* ======= Scroll to top section ======= */

.scroll-to-top {
    height: 40px;
    width: 40px;
    background: rgb(255, 36, 36);
    color: #fff;
    position: fixed;
    cursor: pointer;
    border-radius: 4px;
    right: -40px;
    bottom: 40px;
    transition: .3s;
    z-index: 2000;
}

.scroll-to-top:hover {
    background: rgb(197, 2, 2);
}

/* ======= Scroll to top section ======= */


/* =====Featured bikes section==== */

.featured-bikes {
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.section-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.section-header {
    font-size: 35px;
    font-weight: bold;
    
}

.featured-bikes p {
    margin-top: 20px;
    margin-bottom: 60px;
}

.featured-slider {
    margin-bottom: 120px;
}

/* ----- Card ---- */

.item {
    padding: 20px !important;
}

.card-body {
    text-align: left;
    /* height: 100%; */
    /* background: rgba(202, 202, 202, 0.762); */
    width: auto;
}

.card-details {
    padding: 10px;
}

.card-details a {
    text-decoration: none;
    color: black;
}

.card-thumb img {
    padding: 0;
    /* height: 100%; */
    /* width: 100%; */
    max-height: 500px;
    max-width: 750px;
    object-fit: cover;
}

.card-title {
    font-size: 22px;
    margin-top: 10px;
    font-weight: 600;
}

.card-location {
    color: rgb(56, 56, 56);
}

.card-details hr {
    margin: 0;
    padding: 0;
}

.card-price-deatils {
    border-top: 1px solid rgb(213, 213, 213);
    padding-top: 20px;
    font-size: 20px;
    color: red;
    font-weight: 600;
}


/* ----- Card ---- */


/* =====Featured bikes section==== */


/* =====Latest bikes section===== */

.latest-bikes {
    background: url(../img/bg-img-6.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.latest-bikes-card {
    max-width: 420px;
    background: #fff;
    height: auto;
    margin: 5px;
    margin-top: 20px;
    text-align: left;
    transition: .2s;
}

.latest-bikes-card:hover {
    transform: scale(.97);
}

.latest-bike-thumb img {
    width: 420px;
    height: 280px;
    object-fit: cover;
}

#latest-details {
    padding: 20px;
}

/* =====Latest bikes section===== */

/* ====== Excutive Team Section ===== */

.team-body {
    max-width: 350px;
    height: auto;
}

.team-designation {
    font-size: 14px;
    color: grey;
}

.team-body a {
    text-decoration: none;
    color: black;
}

.team-social-links a {
    margin: 20px;
    padding: 10px; 
}

#fb:hover {
    color: 	#2057c7;
}

#twitter:hover {
    color: #1DA1F2;
}

#linkedin:hover {
    color: #0e76a8;
}

/* ====== Excutive Team Section ===== */

/* ======== Footer ============= */

.get-in-touch-section {
    background: red;
}

.copy-right {
    background: rgba(3, 43, 99, 0.925);
}

.get-in-touch {
    min-height: 100px;
    font-size: 30px;
    color: #fff;
}

.copy {
    height: 60px;
    color: rgb(172, 172, 172);
}

.get-in-touch button {
    background: #fff;
    color: black;
    font-size: 18px;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}

/* ======== Footer ============= */

/* Main body section */

/* =================== Index ends here============ */


/* ================ About page starts here ================ */

.section-header-name {
    margin-top: 200px;
    /* z-index: 4000; */
}

.about-block img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.about-text p {
    /* text-align: justify; */
}

/* ================ About page ends here ================ */

/* ========= Details page section ============= */
.bike-name {
    font-size: 26px;
    font-weight: bold;
}

.bike-name span {
    font-size: 14px;
    color: rgb(155, 155, 155);
}

.bike-price {
    font-size: 26px;
    font-weight: bold;
    color: rgb(226, 0, 0);
}

.features-block {
    width: 500px;
}

.features-list {
    color: gray;
}

.features-list div {
    border-bottom: 1px dotted rgb(198, 198, 198);
}

.features-list div:last-child {
    border-bottom: none;
}

.features-block button {
    padding: 10px;
    width: 100%;
    height: 40px;
}


/* ========= Details page section ============= */