{% extends 'bike_zone/base.html' %}
{% load static %}

{% block title %} Kawasaki Ninja - Bike Details | BikeZone {% endblock title %}

{% block content %}
        <header class="notIndex">
            {% include 'bike_zone/navbar.html' %}

            <!-- ================================= Hero section =========================-->

            <!-- =============================== Scroll to top button section ===================== -->

            <div class="scroll-to-top d-flex justify-content-center align-items-center shadow" id="sct">
                <i class="fas fa-chevron-up"></i>
            </div>

            <!-- =============================== Scroll to top button section ===================== -->
        

            <div class="container hero-section">
                <div class="row">
                    <div class="col-md-12 col-sm-12 hero-txt-section-header text-white d-flex justify-content-center">
                        <h1 style="font-weight: bold; font-size: 30px;">Kawasaki Ninja</h1><br>
                    </div>

            <!-- ================================= Hero section =========================-->
        </header>

        <div class="container">
            <section class="details-section d-flex flex-row flex-wrap justify-content-center mt-5">
                <div class="col-sm-7 details-block px-2 my-3">
                    <div class="bike-name-price d-flex flex-row justify-content-between flex-wrap">
                        <div class="bike-name">
                            Kawasaki Ninja<br> 
                            <span><i class="fas fa-map-marker-alt"></i>&nbsp;New Eskaton Road, Dhaka 1000</span>
                        </div>
                        <div class="bike-price">
                            $&nbsp;4,999
                        </div>
                    </div>
                    <div class="bike-image mt-3">
                        <img src="{% static 'bike_zone/img/bikes/bike-1.jpg' %}" class="img-fluid">
                    </div>
                    <div class="bike-description mt-3">
                        <h4>Description</h4>
                        <p>Kawasaki Ninja 300 is powered by 296 cc engine.This Ninja 300 engine generates a power of 
                            39 PS @ 11000 rpm and a torque of 26.1 Nm @ 10000 rpm. The claimed mileage of Ninja 300 i
                            s 32.1 kmpl. Kawasaki Ninja 300 gets Disc brakes in the front and rear. 
                            The kerb weight of Ninja 300 is 179 Kg. Kawasaki Ninja 300 has Tubeless Tyre and Alloy Wheels.</p>
                    </div>
                </div>

                <div class="col-sm-5 features-block px-5 py-5 mx-3 my-3 shadow">
                    <h4>Refine Your Search</h4>
                    <div class="features-list d-flex flex-column mt-5">
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>Eigine Type :</span>
                            <span>Liquid-cooled, 4-stroke Parallel Twin</span>
                        </div>
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>Engine Displacement :</span>
                            <span>296 CC</span>
                        </div>
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>Max Power :</span>
                            <span>39 PS @ 11000 rpm</span>
                        </div>
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>Emission Type :</span>
                            <span>bs6</span>
                        </div>
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>Max Torque :</span>
                            <span>26.1 Nm @ 10000 rpm</span>
                        </div>
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>Stroke :</span>
                            <span>49 mm</span>
                        </div>
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>No of Cylinders :</span>
                            <span>2</span>
                        </div>
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>Valve per Cylinder :</span>
                            <span>4</span>
                        </div>
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>Fuel Type :</span>
                            <span>Petrol</span>
                        </div>
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>Compression Ratio :</span>
                            <span>10.6:1</span>
                        </div>
                        <div class="feature-item d-flex flex-row justify-content-between my-2 py-2">
                            <span>Ignition :</span>
                            <span>Digital</span>
                        </div>
                    </div>
                    <a href="#"><button class="btn btn-dark"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Add to Cart</button></a>
                </div>
            </section>
        </div>

{% endblock content %}