{% extends 'bike_zone/base.html' %}
{% load static %}

{% block title %} Dashboard - User | BikeZone {% endblock title %}

{% block content %}

        {% include 'bike_zone/messages.html' %}

        <header class="notIndex">
            {% include 'bike_zone/navbar.html' %}

            <!-- =============================== Scroll to top button section ===================== -->

            <div class="scroll-to-top d-flex justify-content-center align-items-center shadow" id="sct">
                <i class="fas fa-chevron-up"></i>
            </div>

            <!-- =============================== Scroll to top button section ===================== -->
        

            <div class="container hero-section">
                <div class="row">
                    <div class="col-md-12 col-sm-12 hero-txt-section-header text-white d-flex justify-content-center">
                        <h1 style="font-weight: bold; font-size: 30px;">DASHBOARD</h1><br>
                    </div>

            <!-- ================================= Hero section =========================-->
        </header>

        <!--========================= Main body starts from here ===========================-->

        <div class="container">
            <!-- =============== Latest bikes section ==================== -->
            <section class="mt-5 mx-2">
                <span class="section-header mt-5">Payment <span style="color: green;">Succeeded</span></span>
                <p class="my-3">Hey <b>{{request.user}}</b>, you've successfully made your payment. Thanks for being with us.</p>

                
            </section>

            <!-- =============== Latest bikes section ==================== -->
        </div>

{% endblock content %}

