{% extends 'bike_zone/base.html' %}
{% load static %}

{% block title %} Search | BikeZone {% endblock title %}

{% block content %}

        <header class="notIndex">
            {% include 'bike_zone/navbar.html' %}

            <!-- ================================= Hero section =========================-->

            <!-- =============================== Scroll to top button section ===================== -->

            <div class="scroll-to-top d-flex justify-content-center align-items-center shadow" id="sct">
                <i class="fas fa-chevron-up"></i>
            </div>

            <!-- =============================== Scroll to top button section ===================== -->
        

            <div class="container hero-section">
                <div class="row">
                    <div class="col-md-12 col-sm-12 hero-txt-section-header text-white d-flex justify-content-center">
                        <h1 style="font-weight: bold; font-size: 30px;">SEARCH BIKES</h1><br>
                    </div>

            <!-- ================================= Hero section =========================-->
        </header>
        <div class="container-fluid filter-bg py-3">
        <form method="POST">
        {% csrf_token %}
            <div class="container filter-items d-flex flex-row flex-wrap justify-content-between align-items-center">
                <select name="brand">
                    <option selected disabled>Brand</option>
                    {% for item in brand %}
                    <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </select>

                <select name="model">
                    <option selected disabled>Model</option>
                    {% for item in model %}
                    <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </select>

                <select name="location">
                    <option selected disabled>Location</option>
                    {% for item in location %}
                    <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </select>

                <select name="year">
                    <option selected disabled>Year</option>
                    {% for item in year %}
                    <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </select>

                <select name="type">
                    <option selected disabled>Select Type of Bikes</option>
                    {% for item in type %}
                    <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </select>
                <input type="number" name="price-min" placeholder="Min range (USD)">
                <input type="number" name="price-max" placeholder="Max range (USD)">
                {% comment %} <a href="#"><button class="btn btn-dark filter-find-btn"><i class="fas fa-search"></i> &nbsp;FIND</button></a> {% endcomment %}
                <input type="submit" value="FIND" class="btn btn-dark filter-find-btn">
            </div>
        </form>
        </div>

        <!--========================= Main body starts from here ===========================-->

        <div class="container">
            <!-- =============== Latest bikes section ==================== -->
            {% if searched_bikes %}
            <section class="latest-bikes text-center mt-5">
                <span class="section-header mt-5">Here's your <span style="color: red;">Bikes</span></span>
                <br><br>
                <p>A world class collection of some awesome bikes for you to choose</p>
            {% endif %}
                <div class="latest-bikes-card-section d-flex flex-row flex-wrap mt-5 mb-5 justify-content-center">
                    {% for bike in searched_bikes %}
                    <div class="shadow latest-bikes-card">
                        <div class="latest-bike-thumb">
                            <a href="{% url 'bike_details' bike.id %}"><img src="{{bike.bike_picture.url}}" class="img-thumbnail"></a>
                        </div>
                        <div class="card-details" id="latest-details">
                            <a href="#"><div class="card-title">{{bike.bike_name}}</div></a>
                            <div class="card-location"><i class="fas fa-map-marker-alt"></i> {{bike.bike_location}}</div>
                            <div class="card-price-deatils mt-5 d-flex flex-row justify-content-between">
                                <div class="card-shop">NewShopBD</div>
                                <div class="card-price">$ {{bike.bike_price}}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>

            </section>

        </div>

{% endblock content %}