{% extends 'bike_zone/base.html' %}
{% load static %}

{% block title %} Search | BikeZone {% endblock title %}

{% block content %}

        <header class="notIndex">
            {% include 'bike_zone/navbar.html' %}

            <!-- ================================= Hero section =========================-->

            <!-- =============================== Scroll to top button section ===================== -->

            <div class="scroll-to-top d-flex justify-content-center align-items-center shadow" id="sct">
                <i class="fas fa-chevron-up"></i>
            </div>

            <!-- =============================== Scroll to top button section ===================== -->
        

            <div class="container hero-section">
                <div class="row">
                    <div class="col-md-12 col-sm-12 hero-txt-section-header text-white d-flex justify-content-center">
                        <h1 style="font-weight: bold; font-size: 30px;">SEARCH BIKES</h1><br>
                    </div>

            <!-- ================================= Hero section =========================-->
        </header>
        <div class="container-fluid filter-bg py-3">
            <div class="container filter-items d-flex flex-row flex-wrap justify-content-between align-items-center">
                <select>
                    <option selected disabled>Brand</option>
                    <option>Yamaha</option>
                    <option>Ducati</option>
                    <option>Honda</option>
                    <option>BMW</option>
                </select>

                <select>
                    <option selected disabled>Model</option>
                    <option>Ducati</option>
                    <option>Honda</option>
                    <option>BMW</option>
                    <option>Yamaha</option>
                </select>

                <select>
                    <option selected disabled>Location</option>
                    <option>United States</option>
                    <option>United Kingdom</option>
                    <option>Bangladesh</option>
                </select>

                <select>
                    <option selected disabled>Year</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                </select>

                <select>
                    <option selected disabled>Select Type of Bikes</option>
                    <option>Standard</option>
                    <option>Cruiser</option>
                    <option>Sport Bike</option>
                    <option>Touring</option>
                </select>
                <input type="number" name="price-min" placeholder="Min range (USD)">
                <input type="number" name="price-min" placeholder="Max range (USD)">
                <a href="#"><button class="btn btn-dark filter-find-btn"><i class="fas fa-search"></i> &nbsp;FIND</button></a>
            </div>
        </div>

        <!--========================= Main body starts from here ===========================-->

        <div class="container">
            <!-- =============== Latest bikes section ==================== -->

            <section class="latest-bikes text-center mt-5">
                <span class="section-header mt-5">Here's your <span style="color: red;">Bikes</span></span>
                <br><br>
                <p>A world class collection of some awesome bikes for you to choose</p>

                <div class="latest-bikes-card-section d-flex flex-row flex-wrap mt-5 mb-5 justify-content-center">

                    <div class="shadow latest-bikes-card">
                        <div class="latest-bike-thumb">
                            <a href="#"><img src="{% static 'bike_zone/img/bikes/bike-1.jpg' %}" alt="" class="img-thumbnail"></a>
                        </div>
                        <div class="card-details" id="latest-details">
                            <a href="#"><div class="card-title">Kawasaki Ninja</div></a>
                            <div class="card-location"><i class="fas fa-map-marker-alt"></i> New Eskaton Road, Dhaka 1000</div>
                            <div class="card-price-deatils mt-5 d-flex flex-row justify-content-between">
                                <div class="card-shop">New Shop</div>
                                <div class="card-price">$ 3,000</div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow latest-bikes-card">
                        <div class="latest-bike-thumb">
                            <a href="#"><img src="{% static 'bike_zone/img/bikes/bike-2.jpg' %}" alt="" class="img-thumbnail"></a>
                        </div>
                        <div class="card-details" id="latest-details">
                            <a href="#"><div class="card-title">Kawasaki Ninja</div></a>
                            <div class="card-location"><i class="fas fa-map-marker-alt"></i> New Eskaton Road, Dhaka 1000</div>
                            <div class="card-price-deatils mt-5 d-flex flex-row justify-content-between">
                                <div class="card-shop">New Shop</div>
                                <div class="card-price">$ 3,000</div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow latest-bikes-card">
                        <div class="latest-bike-thumb">
                            <a href="#"><img src="{% static 'bike_zone/img/bikes/bike-3.jpg' %}" alt="" class="img-thumbnail"></a>
                        </div>
                        <div class="card-details" id="latest-details">
                            <a href="#"><div class="card-title">Kawasaki Ninja</div></a>
                            <div class="card-location"><i class="fas fa-map-marker-alt"></i> New Eskaton Road, Dhaka 1000</div>
                            <div class="card-price-deatils mt-5 d-flex flex-row justify-content-between">
                                <div class="card-shop">New Shop</div>
                                <div class="card-price">$ 3,000</div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow latest-bikes-card">
                        <div class="latest-bike-thumb">
                            <a href="#"><img src="{% static 'bike_zone/img/bikes/bike-4.jpg' %}" alt="" class="img-thumbnail"></a>
                        </div>
                        <div class="card-details" id="latest-details">
                            <a href="#"><div class="card-title">Kawasaki Ninja</div></a>
                            <div class="card-location"><i class="fas fa-map-marker-alt"></i> New Eskaton Road, Dhaka 1000</div>
                            <div class="card-price-deatils mt-5 d-flex flex-row justify-content-between">
                                <div class="card-shop">New Shop</div>
                                <div class="card-price">$ 3,000</div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow latest-bikes-card">
                        <div class="latest-bike-thumb">
                            <a href="#"><img src="{% static 'bike_zone/img/bikes/bike-5.jpg' %}" alt="" class="img-thumbnail"></a>
                        </div>
                        <div class="card-details" id="latest-details">
                            <a href="#"><div class="card-title">Kawasaki Ninja</div></a>
                            <div class="card-location"><i class="fas fa-map-marker-alt"></i> New Eskaton Road, Dhaka 1000</div>
                            <div class="card-price-deatils mt-5 d-flex flex-row justify-content-between">
                                <div class="card-shop">New Shop</div>
                                <div class="card-price">$ 3,000</div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow latest-bikes-card">
                        <div class="latest-bike-thumb">
                            <a href="#"><img src="{% static 'bike_zone/img/bikes/bike-6.jpg' %}" alt="" class="img-thumbnail"></a>
                        </div>
                        <div class="card-details" id="latest-details">
                            <a href="#"><div class="card-title">Kawasaki Ninja</div></a>
                            <div class="card-location"><i class="fas fa-map-marker-alt"></i> New Eskaton Road, Dhaka 1000</div>
                            <div class="card-price-deatils mt-5 d-flex flex-row justify-content-between">
                                <div class="card-shop">New Shop</div>
                                <div class="card-price">$ 3,000</div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

            <section class="pagination-bar my-5 d-flex justify-content-center">
                <div class="pagination-main-block d-flex flex-row justify-content-between">
                    <a href="#" class="d-flex justify-content-center align-items-center"><i class="fas fa-angle-left"></i></a>
                    <a href="#" class="d-flex justify-content-center align-items-center active-page">1</a>
                    <a href="#" class="d-flex justify-content-center align-items-center">2</a>
                    <a href="#" class="d-flex justify-content-center align-items-center">3</a>
                    <a href="#" class="d-flex justify-content-center align-items-center"><i class="fas fa-angle-right"></i></a>
                </div>
            </section>
            <!-- =============== Latest bikes section ==================== -->
        </div>

{% endblock content %}