
.team-body {
    max-width: 350px;
    height: auto;
}

.team-designation {
    font-size: 14px;
    color: grey;
}

.team-body a {
    text-decoration: none;
    color: black;
}

.team-social-links a {
    margin: 20px;
    padding: 10px; 
}

#fb:hover {
    color: 	#2057c7;
}

#twitter:hover {
    color: #1DA1F2;
}

#linkedin:hover {
    color: #0e76a8;
}

/* ========= Card details ========= */

.avatar img {
    border-radius: 100%;
}

.designation {
    max-width: 350px;
    margin: 0 auto;
    color: rgb(147, 147, 147);
}

.education {
    max-width: 350px;
    margin: 0 auto;
    color: rgb(144, 144, 144);
    font-weight: bold;
}

.social {
    max-width: 300px;
    margin: 0 auto;
}

.social a {
    text-decoration: none;
    color: black;
}

@media (max-width: 425px) {
    .social {
        max-width: 200px;
    }
}

/* ========= Card details ========= */